In [1]:
import sqlite3
import pandas as pd

In [16]:
db = sqlite3.connect('food_log.db')

cursor = db.cursor()

In [17]:
cursor.executescript('''create table log_date (
    id integer primary key autoincrement,
    entry_date date not null
);

create table food (
    id integer primary key autoincrement,
    food_name text not null,
    protein integer not null,
    carbohydrates integer not null,
    fat integer not null,
    calories integer not null
);

create table food_date (
    food_id integer not null,
    log_date_id integer not null,
    primary key(food_id, log_date_id)
);

''')
db.commit()

In [19]:
cursor.execute('''select * from food_date''')
results = cursor.fetchall()
print(results)

[(1, 1), (3, 1)]

In [4]:
pd.DataFrame(results)

              0
0  May 11, 2021

In [13]:
cursor.execute('''delete from food_date''')
db.commit()

In [84]:
from datetime import datetime

In [85]:
db_date = datetime.strptime('2017-02-01','%Y-%m-%d')
db_date

datetime.datetime(2017, 2, 1, 0, 0)

In [89]:
db_date.strftime('%B %d,%Y')

'February 01,2017'

In [20]:
cursor.close()
db.close()